h1 {
    text-align: center;
}
#formDiv{
    width: 90%;
    background-color: lightgray;
    margin: auto;
    padding: 10px;
}
#formDiv label {
    width: 60px;
}
table {
    width: 90%;
    margin: auto;
    border: 1px solid darkolivegreen;
}
#displayHeader{
    text-align:center;
    background-color:darkolivegreen;
    color: lightgray;
    font-style: italic;
}
#displayItems{
    text-align: center;
}
#displayItems tr, #displayItems td {
    text-align: center;
    border: 1px solid darkolivegreen;
}
#displayItems td{
    width: 25%;
}